<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.e_reserve">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EReserve">
        <activity android:name=".all_activities.activity_club"></activity>
        <activity android:name=".all_activities.activity_pharmacy" />
        <activity android:name=".all_activities.activity_tatoo" />
        <activity android:name=".all_activities.activity_engineer" />
        <activity android:name=".all_activities.activity_gas_station" />
        <activity android:name=".all_activities.activity_barber" />
        <activity android:name=".all_activities.activity_doctor" />
        <activity android:name=".all_activities.activity_freetime" />
        <activity android:name=".all_activities.activity_cinema" />
        <activity android:name=".all_activities.activity_lawyer" />
        <activity android:name=".all_activities.activity_theater" />
        <activity android:name=".all_activities.activity_caffe" />
        <activity android:name=".activity_profile" />
        <activity
            android:name=".activity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>